{% extends "layout.html" %}

{% block title %}
    {{book.title}}
{% endblock %}

{% block body %}
<div class="jumbotron text-center" style="background-color:salmon;">
    <h1> Browse books and review them.</h1>
    <h3 style="text-align: right;">{{username}}</h3> 
</div>
<div class="jumbotron text-center" style="background-color: silver;">
    <h6>Title:</h6><h1>{{book.title}}<h1>
    <h1>Average Rating from <a href="www.goodreads.com">goodreads</a>: {{rating}}/5</h1><br>
    <h6>Written by: {{book.author}}</h6>
    <h6>ISBN:</h6><h3>{{book.isbn}}</h3><br>
</div>
<div class="container">
    <form action="{{ url_for('bookreview',bookid=book.id) }}" method="POST">
        
        
        <div class="form-group">
            <input class="form-control" type="text" for="comment" name="review" placeholder="your review">
        </div>
         
        <select class="form-control" id="sel1" name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        <div class="form-group">
            <button class="btn btn-primary">submit</button>
            <p style="color: red;">{{error}}</p>
        </div>

</div>
<div class="jumbotron">
    <div class="row">
        <h4>This website reviews:</h4><br>
        <div class="jumbotron">
            {%for review in reviews%}
           <h6> "{{review.review}}" (RATED {{review.rating}}/5)-by {{username}}</h6>
        </div>
            {%else%}
            <h6> No reviews. Be the first to review this one!</h6>
            {%endfor%}
            
        
        
    </div>

</div>

{% endblock %}