{% extends "layout.html" %}

{% block title %}
    Book review- HOMEPAGE
{% endblock %}

{% block body %}
<div class="jumbotron text-center" style="background-color:salmon;">
    <h1> Browse books and review them.</h1>
    <h3 style="text-align: right;">{{username}}</h3> 
</div>
<div class="container">
    <div class="row">
        <h4>Search Books by.</h4><br>
        <ul class="list-group">
            <li class="list-group-item"><a href="{{url_for('title')}}">Search by Title</a></li>
            <li class="list-group-item"><a href="{{url_for('isbn')}}">Search by ISBN</a></li>
            <li class="list-group-item"><a href="{{url_for('author')}}">Search by Author</a></li>
            
          </ul>
        
    </div>

</div>

{% endblock %}